udo: required
services:
  - docker

before_install:
  - docker build -t iaredockerhugger/react_app  -f Dockerfile.dev .

script:
  - docker run -e CI=true USERNAME/docker-react npm run test -- --coverage

